{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <!-- <hr /> -->
    <h2 class="text-center">Message</h2>
    <blockquote> <p class="text-center"><i><b>"{{query}}"</b></i></p></blockquote>
{% endblock %}

{% block content %}
    <!-- <h1 class="text-center">Result</h1>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}

        </div>
    </div> -->
    <h1 class="text-center">Message Classification Result</h1>
    <hr>
    {% for category, classification in classification_result.items() %}
    {% if classification == 1 %}
    <div class="list-group-item squareselected">{{category.replace('_', ' ').title()}}</div>
    {% else %}
    <div class="list-group-item square">{{category.replace('_', ' ').title()}}</div>
    {% endif %}
    {% endfor %}

{% endblock %}
